@import "/Users/shoh25/web_project/kubo_portfolio/scss/setting/_setting.scss";
@import "/Users/shoh25/web_project/kubo_portfolio/scss/mixin/_mixin.scss";

#footer {
	background-color: white;
}

.footer__inner {
	width: 1200px;
	margin: 0 auto;
	padding-top: 58px;
	padding-bottom: 48px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	.profile {
		display: flex;
		align-items: center;
		.name-area {
			margin-left: 44.5px;
			h4 {
				@include inter;
				font-size: 16px;
				font-weight: 600;
				letter-spacing: $baseletterspace;
			}
			.icons {
				margin-top: 10px;
				img {
					width: 40px;
					margin-right: 10px;
				}
			}
		}
	}
	.myname {
		@include inter;
		font-weight: 400;
		font-size: 12px;
		color: $textcolor;
	}

	@include responsive(sp) {
		padding: 27px 20px;
		width: 100%;
		.profile {
			img {
				width: 46px;
			}
			.name-area {
				margin-left: 13px;
				h4 {
					font-size: 12px;
				}
				.icons {
					margin-top: 5.3px;
					img {
						width: 26px;
						margin-right: 4px;
					}
				}
			}
		}
		.myname {
			font-size: 10px;
		}
	}
}

